{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/product_list.js' %}"></script>
<div class="layui-tab">
  <ul class="layui-tab-title">
    <li class="layui-this">ECS宿主机</li>
    <li>RDS宿主机</li>
    <li>DOCKER宿主机</li>
    <li>SLB</li>
    <li>订单管理</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
      <table id="ecs_table"  class="layui-table" align="center" action="ecs_table">
        <thead  align="center">
          <tr>
            <th align="center">序列号</th>
            <th align="center">主机名</th>
            <th align="center">地址</th>
            <th align="center">物理机ID</th>
            <th align="center">状态</th>  
            <th width='90'>锁定/解锁 操作</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="layui-tab-item">
      <table id="ads_table"  class="layui-table" align="center">
        <thead  align="center">
          <tr>
            <th align="center">序列号</th>
            <th align="center">主机名</th>
            <th align="center">地址</th>
            <th align="center">装机模版</th>
            <th align="center">状态</th>  
            <th width='90'>锁定/解锁 操作</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="layui-tab-item">docker宿主机</div>
    <div class="layui-tab-item">内容4</div>
    <div class="layui-tab-item">内容5</div>
  </div>
</div>

<p class="layui-elem-quote">其实就是自定义了个“|”的分隔符，然后最后一项也可以点。</p>        
{% endblock %}     

