{% extends "index.html" %}
{% load staticfiles %}
{% block content %} 
<!-- <link rel="stylesheet" href="{% static 'freestyle.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<script src="{% static 'echarts-liquidfill.js' %}"></script>
<script src="{% static 'oss.js' %}"></script>
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-g">

      <div class="am-u-sm-4" style="height:300px;padding:0px">
        <div class="am-panel am-panel-default" style="height: 95%;width: 95%;margin:auto">
          <div class="am-panel-bd" >这是一个基本的面板组件。</div>
        </div>
      </div>

      <div class="am-u-sm-4" style="height:300px;padding:0px">
        <div class="am-panel am-panel-default" style="height: 95%;width: 95%;margin:auto">
          <div class="am-panel-hd"><h2 class="am-panel-title">OSS使用率</h2></div>
          <div id="oss_usage" class="am-panel-bd" style="height: 90%;width: 100%"></div>
        </div>
      </div>
      <div class="am-u-sm-4" style="height:300px;padding:0px">
        <div class="am-panel am-panel-default" style="height: 95%;width: 95%;margin:auto">
          <div class="am-panel-bd" >这是一个基本的面板组件。</div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
